@use "../../styles/variables" as *;

.field {
  display: flex;
  flex-direction: column;

  &__lable {
    margin-bottom: 0.5rem;
  }

  &__input {
    // border: 1px solid $silver;
    // border-radius: 0.5rem;
    // padding: 0.25rem 0.5rem;
    // font-size: inherit;
    margin-bottom: 0.5rem;

    &--error {
      @extend .field__input;
      border: 2px solid $primary-darker;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      border: 1px solid $primary-dark;
    }
  }
}
