@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.register {
  margin-bottom: 1.5rem;

  &__title {
    text-align: center;
    margin-bottom: 1rem;
  }

  &__message {
    font-weight: 600;
    margin-bottom: 0.25rem;
  }

  .shake {
    animation: shake 0.3s ease-in-out;
  }

  &__button {
    width: 100%;
    margin: 0.5rem 0;
    margin-bottom: 1rem;
  }

  &__text {
    display: flex;
    justify-content: center;
  }

  &__link {
    @include subheader;
    margin-left: 0.5rem;
  }
}
