.chart {
  position: relative;
  padding-top: 1rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  width: 100%;

  &__notice {
    position: absolute;
    top: 40%;
    left: 18%;
  }
  &__container {
    width: 100%;
  }

  canvas {
    width: 100% !important;
    background: transparent !important;
  }

  &__labels {
    display: flex;
    justify-content: space-between;
    margin-left: 0.125rem;
    margin-right: 1.5rem;
  }

  &__label {
    font-weight: 600;
    color: #7a7a7a;
  }
}
