@use "./styles/typography" as *;
@use "./styles//variables" as *;

body {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  font-family: Titillium, Arial, Helvetica, sans-serif, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 100%;

  max-width: 23.438rem;
  padding: 0 1.5rem;
  margin: 0 auto;

  border: 1px solid $primary-dark;
  border-radius: 0.5rem;
  color: $primary-dark;
  min-height: 35rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $primary-dark;
}

img {
  display: block;
}

input {
  height: 2.25rem;
}

button {
  border: none;
  background-color: $primary-dark;
  color: $alabaster;
  border-radius: 0.5rem;
  height: 2.25rem;
  cursor: pointer;

  &:hover {
    background-color: $primary-darker;
  }
}
